.App {
  text-align: center;
}


.nav{
  border-bottom: 2px solid rgb(188, 181, 181);
  display: flex;
  padding: .6%;
  justify-content: space-around;
}

.th{
  background-color: tomato;
  text-align: center;
}
